
block content
  h1= title
  p This was done in context of FCC's Node.js API challenges and a big credit for the code should go for Michael Lefkowitz! You can find his url-shortening tutorial here: 
  a http://lefkowitz.me/thoughts/2016/05/05/men-stack-building-a-url-shortener-with-mongodb-express-and-node-js/
  p To make your url shortened just type your url(don't forget the protocol) after 'new/'. for example: new/http://www.freecodecamp.com